body {
  max-width: 512px;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
}

.scores {
  display: flex;
  justify-content: space-between;
}

.scores-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scores-title {
  height: 32px;
  margin: 0 auto;
  padding-right: 32px;
}

#refresh-button {
  height: 24px;
  font-size: 18px;
  font-weight: bold;
  align-items: center;
}

.scores-list {
  border: 4px solid #3e3e3e;
  overflow-y: scroll;
}

.scores-list li {
  list-style-type: none;
}

.scores-list-items {
  margin: 0 auto;
  padding-left: 4px;
  padding-right: 4px;
}

.scores-list-item:nth-child(even) {
  background-color: lightgray;
}

.form-title {
  height: 32px;
  margin: 0 auto;
}

.add-form ul {
  margin: 0 auto;
  padding-left: 0;
}

.add-form li {
  list-style-type: none;
  margin-bottom: 20px;
}

#submit-button {
  height: 24px;
  font-size: 18px;
  font-weight: bold;
  align-items: center;
}

.submit-result {
  font-size: 8px;
  color: green;
}
